body {
    background-image: url("../img/markus-spiske-iar-afB0QQw-unsplash.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.text {
    position: relative;
    width: 200px;
    height: 90px;
    z-index: 1;
    text-align: center;
}

.text h2 {
    position: relative;
    color: #00d400;
    font-size: 2em;
    font-weight: normal;
    display: inline-block;
    overflow: hidden;
    text-shadow: 0 10px 10px #000;
    box-shadow: 10px 0 0 rgb(238, 1, 1);
    animation: txt 5s steps(7) infinite;
}


@keyframes anime {
    0% {
        color: white;
        filter: blur(0.5px) hue-rotate(0deg);
        text-shadow: 0 0 10px aqua,
                     0 0 20px aqua,
                     0 0 40px aqua,
                     0 0 80px aqua,
                     0 0 120px aqua;
    }

    30%, 70% {
        color: white;
        filter: blur(0.5px) hue-rotate(360deg);
        text-shadow: 0 0 10px aqua,
                     0 0 20px aqua,
                     0 0 40px aqua,
                     0 0 80px aqua,
                     0 0 120px aqua;
    }

    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(0.5px) hue-rotate(0deg);
    }
}

@keyframes txt {
    0%,
    90%,
    100% {
        width: 1px;
    }

    30%,
    60% {
        width: 130.2px;
    }
}

.grid {
    position: relative;
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14, 24, 17);
    overflow: hidden;
    border-radius: 20px;
    flex-wrap: wrap;;
    padding: 8px 1px 8px 1px;
    box-shadow: 0 0 0 0px rgb(0, 0, 0), 10px 10px 80px rgb(0, 0, 0);
}

.grid::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 160%;
    background: linear-gradient(rgb(221, 1, 1), #00d400);
    animation: anime 1.5s linear infinite;
}
.grid::after {
    content: "";
    position: absolute;
    background-image: url('../img/marius-niveri-rfg4l6_lu3c-unsplash.jpg');
    background-size: cover;
    inset: 4px;
    border-radius: 16px;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.grid div {
    height: 20px;
    width: 20px;
    z-index: 100;

}

.invader {
    background: red;
    border-radius: 30px;
    animation: error 1s linear infinite;

}

@keyframes error {
    0% {
        color: white;
        filter: blur(0.5px) hue-rotate(0deg);
        box-shadow: 0 0 10px rgb(0, 0, 0);

    }

    30%, 70% {
        color: white;
        filter: blur(0.5px) hue-rotate(360deg);
        box-shadow: 0 0 10px rgb(0, 0, 0);

    }

    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(0.5px) hue-rotate(0deg);
    }
}


.shooter {
    background: #00d400;
}

.laser {
    background: #05ff05;
    border-radius: 30px;
    animation: shoot 1s linear infinite;
}


@keyframes shoot {
    0% {
        color: white;
        filter: blur(1px) hue-rotate(0deg);
        box-shadow: 0 0 10px rgb(73, 253, 36),
                     0 0 20px rgb(73, 253, 36),
                     0 0 40px rgb(73, 253, 36),
                     0 0 80px rgb(73, 253, 36);
                     /* 0 0 120px rgb(255, 72, 0); */
    }

    30%, 70% {
        color: white;
        filter: blur(1px) hue-rotate(0deg);
        box-shadow: 0 0 10px rgb(73, 253, 36),
                     0 0 20px rgb(73, 253, 36),
                     0 0 40px rgb(73, 253, 36),
                     0 0 80px rgb(73, 253, 36);
                     /* 0 0 120px rgb(255, 72, 0); */
    }

    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(1px) hue-rotate(0deg);
    }
}

.boom {
    background: rgb(255, 72, 0);
    border-radius: 30px;
    animation: boom 1s linear infinite;
}


@keyframes boom {
    0% {
        color: white;
        filter: blur(1px) hue-rotate(0deg);
        box-shadow: 0 0 10px rgb(255, 72, 0),
                     0 0 20px rgb(255, 72, 0),
                     0 0 40px rgb(255, 72, 0),
                     0 0 80px rgb(255, 72, 0);
    }

    30%, 70% {
        color: white;
        filter: blur(1px) hue-rotate(0deg);
        box-shadow: 0 0 10px rgb(255, 72, 0),
                     0 0 20px rgb(255, 72, 0),
                     0 0 40px rgb(255, 72, 0),
                     0 0 80px rgb(255, 72, 0);
    }

    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(1px) hue-rotate(0deg);
    }
}
